#
# Copyright (c) 2025-2025 Ricardo do Canto
#
# This file is part of the EnduranceTrio Tracker project.
#
# Licensed under the Functional Software License (FSL), Version 1.1, ALv2 Future License
# (the "License");
#
# You may not use this file except in compliance with the License. You may obtain a copy
# of the License at https://fsl.software/
#
# THE SOFTWARE IS PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF FITNESS FOR A PARTICULAR
# PURPOSE, MERCHANTABILITY, TITLE OR NON-INFRINGEMENT.
#
# IN NO EVENT WILL WE HAVE ANY LIABILITY TO YOU ARISING OUT OF OR RELATED TO THE
# SOFTWARE, INCLUDING INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES,
# EVEN IF WE HAVE BEEN INFORMED OF THEIR POSSIBILITY IN ADVANCE.
#

services:
  endurancetrio-tracker:
    container_name: endurancetrio-tracker
    image: ghcr.io/endurancetrio/endurancetrio-tracker:${VERSION}
    restart: unless-stopped
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
      DB_URL: ${DB_URL}
      DB_USERNAME: ${DB_USERNAME}
      DB_SECRET: ${DB_SECRET}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
      FIRST_OWNER: ${FIRST_OWNER}
      FIRST_HASH: ${FIRST_HASH}
    networks:
      - endurancetrio-tracker
    ports:
      - "127.0.0.1:${TRACKER_EXT_PORT}:${TRACKER_INT_PORT}"
    volumes:
      - ./logs:/opt/endurancetrio-tracker/logs
    healthcheck:
      test: ["CMD", "/usr/bin/curl", "-f", "http://localhost:${TRACKER_INT_PORT}/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
networks:
  endurancetrio-tracker:
    name: endurancetrio-tracker
    driver: bridge
